/* General layout */
html,
body {
    height: 100%;
    scroll-behavior: smooth;
}

@font-face {
    font-family: 'Dot';
    src: url('assets/fonts/Doto/static/Doto-ExtraBold.ttf');
}

/* Background video */
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -2;
    filter: blur(10px);
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(10px);
}

#video-background {
    display: block;
}

#mobile-videoBackground {
    display: none;
}

/* Home icon */
.home-icon {
    position: fixed;
    top: 21px;
    right: 20px;
    width: 70px;
    height: 70px;
    cursor: pointer;
    z-index: 1000;
    mix-blend-mode: difference;
    transition: opacity 0.3s ease;
}

.spacer {
    height: 32%;
    width: 100%;
}

/* Title text */
.Title {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    font-family: 'Dot', sans-serif;
    font-size: 30px;
    color: rgb(0, 0, 0);
   
}

/* Main text */
main p {
    max-width: 80%;
    margin: 40px auto;
    line-height: 1.2;
    color: rgb(0, 0, 0);
    font-size: 28px;
    font-weight: bold;
    font-family: 'Dot', sans-serif;
}

/* Mobile adjustments */
@media (max-width: 700px) {

    #video-background {
        display: none;
    }

    #mobile-videoBackground {
        display: block;
    }

    .spacer {
        height: 40%;
    }

    .Title {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        text-align: center;
        font-family: 'Dot';
        font-size: 10px;
        color: rgb(0, 0, 0);
        padding: 50px 0;
        z-index: 2;
        pointer-events: none;
    }

    main p {
        width: 95%;
        max-width: 350px;
        margin: 20px auto;
        font-size: 20px;
        line-height: 1.5;
        color: rgb(0, 0, 0);
        text-align: left;
    }
}